.CardSideBySide {
  display: flex;
  flex-direction: row;
  padding: 0 125px;
  color: white;

  .side-by-side-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    gap: 9rem;
    padding: 0;

    img {
      display: block;
      padding: 2.5rem 0;
    }
  }
}
