.Footer {
  height: 25rem;
  width: 100%;
  background: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(25px);
  position: relative;
  color: white;
  padding: 4rem 0;

  .footer-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
  }

  .footer-content {
    display: flex;
    flex-direction: row;

    .org-info {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      p {
        width: 95%;
        font-size: 0.95rem;
        line-height: 23.2px; /* 165.714% */
        letter-spacing: 0.42px;
        margin-top: 0;
        strong {
          font-weight: 600;
        }
      }

      .social-links {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
      }
    }

    .site-page-links {
      margin-left: 2rem;
      width: 60%;
      display: flex;
      flex-direction: row;
      margin-top: none;

      .col-1 {
        width: 40%;
      }

      .col-2 {
        width: 60%;
      }

      small,
      .no-children {
        font-size: 1rem;
        font-family: $font-red-hat-mono;
        margin-bottom: 2rem;
      }

      a {
        color: white;
        text-decoration: none;
      }

      ul {
        list-style: none;
        margin-top: 0;

        li {
          margin-bottom: 2rem;

          ul {
            padding: 0;
            li {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}
