// colors
$lands-green: #014946;
$lands-greendark: #023432;
$robinegg: #2dc2bd;
$scholarnavy: #003153;
$sand: #ffeedd;
$night: #1e1e1e;
$white: #ffffff;
$error: #dd3131;
$gray: #dbdbdb;
$darkgray: #5e5e5e;
$hyperlinkteal: #12928e;

// transitions
$cubic-bezier: all 220ms cubic-bezier(0.25, 0.1, 0.25, 1);
