@import "./styles/variables.scss";
@import "./styles/typography.scss";

@import "./styles/Nav";
@import "./styles/Sidebar.scss";
@import "./styles/home/Home";
@import "./styles/CardSideBySide.scss";
@import "./styles/Carousel.scss";
@import "./styles/home/CTABannerHome.scss";
@import "./styles/Footer";

:root {
  --font-red-hat-text: "Red Hat Text", sans-serif;
  --font-red-hat-mono: "Red Hat Mono", monospace;
  --font-pp-eiko: "PP Eiko", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-red-hat-text;
  background: url("../app/assets/home/home-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 0 125px;
}

.mono {
  font-family: var(--font-red-hat-mono);
}

.pp-eiko {
  font-family: var(--font-pp-eiko);
}

.header-1 {
  font-family: $font-pp-eiko;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  color: $lands-green;
}

.header-2 {
  font-family: $font-pp-eiko;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
}

.header-3 {
  font-family: $font-red-hat-text;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primary-btn {
  border-radius: 27px;
  background: $robinegg;
  display: inline-flex;
  height: 30px;
  padding: 0 0.95rem;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-weight: 600;
  margin-top: 1rem;
  transition: $cubic-bezier;
  &:hover {
    border-radius: 27px;
    background: #1d8985;
  }
}

.secondary-btn {
  display: inline-flex;
  height: 25px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 27px;
  border: 1px solid $robinegg;
  transition: $cubic-bezier;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  &:hover {
    border: 1px solid $robinegg;
    background: #c8eceb;
    color: $night;
  }
}

.eyebrow-mono {
  font-family: $font-red-hat-mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.2px; /* 145% */
  letter-spacing: 2.24px;
  text-transform: uppercase;
}
