@use "../typography";
@use "../variables";

.CTABannerHome {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0 2rem 0;
  position: relative;
  margin: 0 auto;

  .cta-bg {
    position: absolute;
    width: 100vw;
    max-width: 1500px;
    height: 125vh;
    z-index: -1;
    background: url("../../assets/home/footer-cta-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    scale: 1.25;
    top: 0;
    clip-path: path("M-50,350 Q1200,-200 1540,500 L1440,1216 L0,1216 Z");
  }

  small {
    font-family: typography.$font-red-hat-text;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 23.2px; /* 145% */
    letter-spacing: 0.8px;
  }

  h2 {
    font-family: typography.$font-pp-eiko;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  .cta-waypoints {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 125px;
    max-width: 1280px;
    margin: 0 auto;

    .cta-waypoint {
      width: 30%;
      padding: 4rem;
      text-align: center;

      .waypoint-btn {
        text-decoration: none;
        color: variables.$night;
        font-weight: 600;
      }
    }
  }
}
