@use "../typography";

.Home {
  width: 100vw;
  margin: 0 auto;
  .Hero {
    background-color: white;
    width: 100vw;

    .video-container {
      position: relative;
      width: 100vw;
      height: 80vh;
      overflow: hidden;
      z-index: 0;
      background-image: url("../../assets/home/lsf-homepage-thumbnail.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      .background-video {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 200%;
        transform: translate(-50%, -50%);
      }

      .wave {
        position: relative;
        width: 100%;
        height: 175%;
        z-index: 1;
        top: 60;
        left: 0;
      }
    }

    .video-container video::-webkit-media-controls-panel {
      display: none !important;
      opacity: 1 !important;
    }

    .home-hero-content {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      max-width: 1280px;
      margin: 0 auto;
      margin-top: -11.5rem;
      padding-bottom: 4rem;

      h1 {
        z-index: 2;
        width: 100%;
        max-width: 70%;
        min-width: 70%;
        text-wrap: nowrap;
      }
      .hero-text {
        position: absolute;
        width: 35%;
        right: 15%;
        bottom: 29%;
        z-index: 3;
      }
    }
  }

  .HomeContent {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: -4rem;

    .explore-our-work {
      color: white;
      padding: 0 125px;

      .header {
        display: flex;
        flex-direction: column;
      }

      .title-and-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .carousel-controls {
          display: flex;
          gap: 1rem;
        }
      }

      h3 {
        margin-bottom: 1.25rem;
      }

      small {
        font-family: typography.$font-red-hat-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.2px; /* 145% */
      }
    }
  }
}
